<main class="users">
  <ul class="users__list">
    <% otherUsers.forEach((otherUser) => { %>
      <li class="users__list-item">
        <article class="user-card">
          <div class="user-card__image-container">
            <% if (!otherUser.image_src) { %>
              <% if (otherUser.gender == "male") { %>
                <img src="/image_male.png" alt="">
                <% } else { %>
                <img src="/image_female.png" alt="">
                <% } %>
              <% } else { %>
                  <img src="/<%= otherUser.image_src %>" alt="">
            <% } %>
          </div>
          
          <div class="flex-container--column">
            <div class="user-card__buttons-container">
              <form class="user-card__controls" action="/user/<%= user._id %>/dislike?userId=<%= otherUser._id %>" method="POST">
                <button class="dislike-button" type="submit"><i class="fa fa-thumbs-down"></i></button>
              </form>

              <form class="user-card__controls" action="/user/<%= user._id %>/like?userId=<%= otherUser._id %>" method="POST">
                <button class="like-button" type="submit"><i class="fa fa-thumbs-up"></i></button>
              </form>
          </div>

            <footer class="user-card__info">
              <h2 class="user-card__info-name"><%= otherUser.name %></h2>
              <h3 class="user-card__info-age"><%= otherUser.age %></h3>
            </footer>
          </div>
        </article>
      </li>
    <% }) %>
  </ul>
</main>