<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating App</title>
  </head>
  
  <body class="background-<%= bodyStyling.background %>">

    <%- body %>

    <% if ("enabled" in development && development.enabled) { %>
    <script>
      const form = document.querySelector("form[action='/login']")
      if (form) {
        form.querySelector("input[name='email']").value = "<%= development.email %>"
        form.querySelector("input[name='password']").value = "<%= development.password %>"
        form.submit()

      } else {
        if (window.location.pathname != "<%= development.route %>" && "<%= development.route %>" != "") {
          window.location = "<%= development.route %>"
        }   
      }
    </script>
    <% } %>

    <%- include('partials/script.ejs') %>
  </body>
</html>