<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating App</title>
  </head>
  
  <body class="background-<%= bodyStyling.background %>">
    <% if (isNew) { %>
      <div class="page-container">
        <form action="/user/<%= user._id %>/profile/setup?_method=PUT" method="POST">
          <% if (messages.error) { %> 
            <%= locals.messages.error %> 
          <% } %>
          <div>
            <label for="age">Age</label>
            <input type="number" name="age" id="age" required />
          </div>
      
          <div>
            <label for="gender">Gender</label>
            <select name="gender" id="gender">
              <option value="" selected hidden disabled>...</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
      
          <div>
            <label for="sexuality">Sexuality</label>
            <select name="sexuality" id="sexuality">
              <option value="" selected hidden disabled>...</option>
              <option value="heterosexual">Straight</option>
              <option value="homosexual">Gay</option>
              <option value="bisexual">Bi</option>
            </select>
          </div>
      
          <button type="submit">Done</button>
        </form>
      </div>
    <% } else { %>
      <div class="page-container">
        <%- body %>
      </div>
      <footer class="footer-nav">
        <nav>
          <ul class="footer-nav__list">
            <li class="footer-nav__list-item"><a href="/">Home</a></li>
            <li class="footer-nav__list-item"><a href="/matches">Matches</a></li>
            <li class="footer-nav__list-item"><a href="/user/<%= user._id %>">Account</a></li>
          </ul>
        </nav>
      </footer>
    <% } %>
    <% if ("enabled" in development && development.enabled) { %>
    <script>
      const form = document.querySelector("form[action='/login']")
      if (form) {
        form.querySelector("input[name='email']").value = "<%= development.email %>"
        form.querySelector("input[name='password']").value = "<%= development.password %>"
        form.submit()

      } else {
        if (window.location.pathname != "<%= development.route %>" && "<%= development.route %>" != "") {
          window.location = "<%= development.route %>"
        }   
      }
    </script>
    <% } %>

    <%- include('partials/script.ejs') %>
  </body>
</html>